<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <!-- comp teszt -->
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/auth">Auth</a>
      <a mat-list-item routerLink="/part">pt</a>
      <a mat-list-item routerLink="/part/structure">ps</a>
      <a mat-list-item routerLink="/inventory">ld</a>
      <a mat-list-item routerLink="/line">ln</a>
      <a mat-list-item routerLink="/line/change">chg</a>
      <a mat-list-item routerLink="/line/rate">lnd</a>
      <a mat-list-item routerLink="/workorder">wo</a>
      <a mat-list-item routerLink="/prodsch">xwo</a>
      <a mat-list-item routerLink="/user">user</a>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Termelési ütemterv</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-user></app-user> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
