<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <!-- comp teszt -->
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/auth">Auth</a>
      <a mat-list-item routerLink="/part">Tételek</a>
      <a mat-list-item routerLink="/part/structure">Tételszerkezet</a>
      <a mat-list-item routerLink="/inventory">ld - Készlet</a>
      <a mat-list-item routerLink="/line">ln - Gyártósor</a>
      <a mat-list-item routerLink="/line/change">chg - Átállásidő</a>
      <a mat-list-item routerLink="/line/rate">lnd</a>
      <a mat-list-item routerLink="../workorder/list">wo list</a>
      <a mat-list-item routerLink="../workorder">wo - GYR</a>
      <a mat-list-item routerLink="/prodsch">xwo - Termelési Ütemterv</a>
      <a mat-list-item routerLink="/user">Felhasználók</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Termelési ütemterv</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <app-user></app-user> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
