<div class="table-responsive">
  <table
    matSort
    (matSortChange)="handleSortData($event)"
    class="table table-hover"
  >
    <thead>
      <tr>
        <th
          *ngFor="let head of headers"
          mat-sort-header="{{ head.name }}"
          style="white-space: nowrap; background-color: rgb(147, 178, 189)"
        >
          {{ head.szoveg }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of viewData"
        (click)="selectRow(item)"
        style="cursor: pointer"
      >
        <td *ngFor="let col of item | keyvalue : natural; let index = index; trackBy: trackByFn">
          <!-- {{ col.value }} -->
          <div *ngIf="!!!headers[index].input; else inp">
            <div *ngIf="isDate(col.value)">
              {{ formatDate(col.value) }}
            </div>
            <div *ngIf="!isDate(col.value)">{{ col.value }}</div>
          </div>
          <ng-template #inp>
            <input
              [type]="headers[index].input.type"
              [(ngModel)]="item[col.key] = +item[col.key]"
              [value]="+item[col.key]"

            />
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="length"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  (page)="handlePageEvent($event)"
  style="background-color: rgb(250, 250, 250)"
>
</mat-paginator>
