<div class="container">
  <h1>Gyártósor kezelés</h1>
  <div class="row">
    <!-- <button (click)="onTeszt('a','leiras')">teszt</button> -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              Gyártósor azonosító
              <input type="text" name="azonInput" [(ngModel)]="azon" required="" maxlength="8"
                [disabled]="!felvetel && !modositas" />
              <p *ngIf="!validForm" style="color: red">
                Már létezik ilyen azonosító!
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Gyártósor leírása
              <textarea type="text" id="ujLeiras" class="form-control" style="resize: none" rows="6" name="descInput"
                [(ngModel)]="desc" required="" maxlength="750" [disabled]="!felvetel && !modositas"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <div id="ujGysDiv" *ngIf="!felvetel && !reszletek && !modositas">
                <button type="button" class="btn btn-primary" (click)="felvetel=!felvetel">
                  Új gyártósor
                </button>
              </div>
              <div id="ujGysMentes" *ngIf="felvetel && !reszletek && !modositas">
                <button type="submit" class="btn btn-success" [disabled]="!f.valid">Gyártósor felvétele</button>
                <button type="button" class="btn btn-warning" (click)="clearForm(f)">Mégse</button>
              </div>
              <div id="gysReszlet" *ngIf="reszletek && !felvetel && !modositas">
                <button type="button" class="btn btn-warning" (click)="onModosit()">Gyártósor módosítása</button>
                <button type="button" class="btn btn-primary" (click)="clearForm(f)">Vissza</button>
              </div>
              <div id="GysModositas" *ngIf="modositas && !reszletek && !felvetel">
                <button type="submit" class="btn btn-success" [disabled]="!f.valid">Módosítások mentése</button>
                <button type="button" class="btn btn-warning" (click)="clearForm(f)">Mégse</button>
                <button type="button" class="btn btn-danger" (click)="onGysTorol(f)">Gyártósor törlése</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>


  <div class="row">
    <div class="col-md-12">
      <app-gys-list></app-gys-list>
    </div>
  </div>
</div>