<div class="container">
  <h1>Gyártósor kezelés</h1>
  <div class="row">

    <!-- Új gyártósor/gyártósor módosítás -->
    <!-- inputok -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              Gyártósor azonosító*
              <input type="text" name="azonInput" style="width: 5em" [(ngModel)]="line" required="" maxlength="8"
                [disabled]="!newLn" />             
              <p *ngIf="!validForm" style="color: red">
                Már létezik ilyen azonosító!
              </p>
            </td>
            <td>
              Gyártósor leírása
              <input type="text" id="ujLeiras" style="width: 14em" name="descInput"
                [(ngModel)]="desc" maxlength="24" [disabled]="!newLn && !edit">
            </td>
          </tr>
          <tr>
            <td>
              <p style="color: red;" *ngIf="!f.valid && (newLn || edit) 
              && f.touched">A gyártósor azonosító kötelező!</p>
              <!-- gombok -->
              <!-- Új gyártósor -->
              <div id="ujGysDiv" *ngIf="!newLn && !details && !edit">
                <button type="button" class="btn btn-primary" (click)="newLn=!newLn">
                  Új gyártósor
                </button>
              </div>
              <div id="ujGysMentes" *ngIf="newLn && !details && !edit">
                <button type="submit" class="btn btn-success" [disabled]="!f.valid">Gyártósor felvétele</button>
                <button type="button" class="btn btn-warning" (click)="clearForm(f)">Mégse</button>
              </div>
              <!-- Részletek -->
              <div id="gysReszlet" *ngIf="details && !newLn && !edit">
                <button type="button" class="btn btn-warning" (click)="onModositasa()">Gyártósor módosítása</button>
                <button type="button" class="btn btn-primary" (click)="clearForm(f)">Vissza</button>
              </div>
              <!-- Módosítás -->
              <div id="GysModositas" *ngIf="edit && !details && !newLn">
                <button type="submit" class="btn btn-success" [disabled]="!f.valid || !f.dirty">Módosítások mentése</button>
                <button type="button" class="btn btn-warning" (click)="clearForm(f)">Mégse</button>
                <button type="button" class="btn btn-danger" (click)="deleteLn = true">Gyártósor törlése</button>
              </div>
              <!-- Törlés -->
              <div *ngIf="deleteLn && edit">
                <h2>Biztosan törli?</h2>
                <button type="submit" class="btn btn-danger" >Törlés</button>
                <button type="button" class="btn btn-warning" (click)="deleteLn = false">Mégse</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>


  <div class="row">
    <div class="col-md-12">
    <app-data-table [headers]="lnHeaders"></app-data-table>
    </div>
  </div>
</div>
