<div class = "table-responsive">
<table matSort (matSortChange)="handleSortData($event)" class="table table-hover">
  <thead class="thead-dark">
    <tr >
      <th *ngFor="let head of headers" mat-sort-header="{{ head.name }}" style="white-space: nowrap;;">
        {{ head.szoveg }}
      </th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let item of viewData" (click)="selectRow(item)">
    <td *ngFor="let col of item | keyvalue : natural" >{{ col.value }}</td>
  </tr>
</tbody>
</table>

</div>
<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="length"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  (page)="handlePageEvent($event)"
>
</mat-paginator>