<div class = "table-responsive">
<table matSort (matSortChange)="handleSortData($event)" class="table table-hover" >
  <thead>
    <tr >
      <th *ngFor="let head of headers" mat-sort-header="{{ head.name }}" style="white-space: nowrap; background-color: rgb(147, 178, 189);">
        {{ head.szoveg }}
      </th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let item of viewData" (click)="selectRow(item)">
    <td *ngFor="let col of item | keyvalue : natural">
      {{ col.value }}
      <!-- <div *ngIf="!col.value; instanceof: Date">{{ col.value }}</div>
         <div *ngIf="col.value; instanceof: Date">{{ col.value | date }}</div> -->
    </td>
  </tr>
</tbody>
</table>

</div>
<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="length"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  (page)="handlePageEvent($event)"
>
</mat-paginator>