/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-touched {
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  margin-right: 4px;
}
h2 {
  padding-top: 30px;
}
