<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center">Gyártási rendelések</h2>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <div class="input-group">
          <!-- <label for="woLot">Gyr szám:</label> -->
          <span class="input-group-addon">Gyr szám:</span>
          <input
            style="z-index: auto"
            type="number"
            id="woLot"
            name="woLot"
            class="form-control"
            #filter
            />
          <div class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="filterData(filter.value)" style="z-index: auto">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success" (click)="newWo()">Új</button>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-data-table
        [headers]="woHeaders"

      ></app-data-table>
    </div>
  </div>
</div>
