<div class="container">
  <h1>Gyártási sebesség kezelés</h1>
  <div class="row">
    <!-- Új sebesség kezelés/sebesség kezelés módosítás -->
    <!-- inputok -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              Gyártósor azonosító*
              <input type="text" name="lineInput" [(ngModel)]="line" required="" maxlength="8"
                [disabled]="!newLnd" />

            </td>
            <td>
              Tétel kód*
              <input type="number" name="partInput" [(ngModel)]="part" required=""
                [disabled]="!newLnd" />
            </td>
            <td>
              Gyártási sebesség*
              <input type="number" name="rateInput" required="" [min]="1" [(ngModel)]="rate"
                [disabled]="!newLnd && !edit" />
            </td>
          </tr>
          <!-- gombok -->
          <tr>
            <td>
              <p style="color: red;" *ngIf="!f.valid && (newLnd || edit)">Az összes mező kötelező!</p>
              <p style="color: red;" *ngIf="!validForm ">
                {{errorMessage}}</p>
                <!-- Új lnd -->
              <div *ngIf="!newLnd && !edit">
                <button class="btn btn-primary" (click)="newLnd = true">
                  Új gyártási sebesség
                </button>
              </div>
              <div *ngIf="newLnd && !edit">
                <button type="submit" class="btn btn-success" [disabled]="!f.valid">Hozzáad</button>
                <button type="button" class="btn btn-warning" (click)="clearForm(f)">
                  Mégse
                </button>
              </div>
                <!-- Lnd módosítás -->
              <div *ngIf="!newLnd && edit">
                <button type="submit" class="btn btn-success" [disabled]="!f.dirty">Módosít</button>
                <button type="button" class="btn btn-warning" (click)="clearForm(f)">Mégse</button>
                <button type="button" class="btn btn-danger" (click)="deleteLnd = true">Töröl</button>
              </div>
              <!-- Lnd törlés -->
              <div *ngIf="deleteLnd">
                <h2>Biztosan törli?</h2>
                <button type="submit" class="btn btn-danger">Törlés</button>
                <button class="btn btn-warning" (click)="deleteLnd = false">Mégse</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="row">
    <hr />
    <div class="col-md-12">
      <app-data-table [headers]="lndHeaders"></app-data-table>
    </div>
  </div>
</div>