<!-- <label for="modTabla">Gyártósor módosítása</label>
<table class="table table-striped" id="modTabla">
    <thead>
      <tr>
        <th>Gyártósor</th>
        <th>Leírás</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>asd</td>
        <td>asd</td>
        <td>
          <button
            type="button"
            class="btn btn-warning"
            (click)="onSzerkesztes()"
          >
            Szerkesztés
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped" id="modTabla">
      <thead>
        <tr>
          <th>Gyártósor</th>
          <th>Leírás</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>asd</td>
          <td>asd</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              (click)="onSzerkesztes()"
            >
              Szerkesztés
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
