<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center">Bejelentkezés</h2>
    </div>
  </div>
  <hr />
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <label for="name">Név:</label>
        <div class="col-xs-12">
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            maxlength="30"
            formControlName="name"
          />
        </div>
      </div>
      <div class="row">
        <label for="birth_date">Születési Dátum:</label>

        <div class="col-xs-12">
          <input
            type="date"
            id="birth_date"
            name="birth_date"
            class="form-control"
            formControlName="birth_date"
          />
        </div>
      </div>

      <div class="row">
        <label for="email">Email:</label>
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <div class="col-xs-12">
            <input
              class="form-control"
              type="text"
              name="email"
              id="email"
              class="form-control"
              maxlength="50"
              formControlName="email"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div class="row"></div>
</div>
 -->
<div>auth megjelenik</div>
