<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/home" style="cursor: pointer" id="app-title"
    >Termelési Ütemterv</span
  >
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <!-- ide töltődik be a tartalom -->
    <router-outlet class="responsive"></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <!-- comp teszt -->
      <a mat-list-item routerLink="/home">Kezdőlap</a>
      <a mat-list-item routerLink="/login">Autentikáció</a>
      <a mat-list-item routerLink="/part">Tételek</a>
      <a mat-list-item routerLink="/part/structure">Tételszerkezet</a>
      <a mat-list-item routerLink="/inventory">Készlet</a>
      <a mat-list-item routerLink="/line">Gyártósor</a>
      <a mat-list-item routerLink="/line/change">Átállásidő</a>
      <a mat-list-item routerLink="/line/rate">Gyártási sebesség</a>
      <a mat-list-item routerLink="../workorder/list">Gyártási Rendelések</a>
      <a mat-list-item routerLink="../workorder">Gyártási Rendelés</a>
      <a mat-list-item routerLink="../reserve">Készlet foglalás</a>
      <a mat-list-item routerLink="/prodsch">Termelési Ütemterv</a>
      <a mat-list-item routerLink="/user">Felhasználók</a>
      <a mat-list-item routerLink="/logout" class="logoutBtn"
        ><span class="logoutText">Kijelentkezés</span></a
      >
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
