<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/home" style="cursor: pointer" id="app-title"
    >Termelési Ütemterv</span
  >
  <span *ngIf="loggedIn" class="col-sm-offset-8"
    >{{ userName }}</span
  >
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <!-- ide töltődik be a tartalom -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <div *ngIf="loggedIn && !changeNeeded; else log">
        <a mat-list-item routerLink="/home">Kezdőlap</a>
        <a *ngIf="role === 1 || role === 3" mat-list-item routerLink="/part"
          >Tételek</a
        >
        <a
          *ngIf="role === 1 || role === 3"
          mat-list-item
          routerLink="/part/structure"
          >Tételszerkezetek</a
        >
        <a
          *ngIf="role === 1 || role === 3"
          mat-list-item
          routerLink="/inventory"
          >Készlet</a
        >
        <a mat-list-item *ngIf="role === 1 || role === 2" routerLink="/line">Gyártósorok</a>
        <a mat-list-item *ngIf="role === 1 || role === 2" routerLink="/line/rate">Gyártási sebességek</a>
        <a mat-list-item *ngIf="role === 1 || role === 2" routerLink="/line/change">Gyártósor átállásidők</a>
        <a mat-list-item *ngIf="role === 1 || role === 2"  routerLink="../workorder/list">Gyártási rendelések</a>
        <a mat-list-item *ngIf="role === 1 || role === 2" routerLink="../workorder">Gyártási rendelés</a>
        <a mat-list-item *ngIf="role === 1 || role === 2" routerLink="../reserve">Készletfoglalás</a>
        <a mat-list-item *ngIf="role === 1 || role === 2" routerLink="/prodsch">Termelési ütemterv</a>
        <a *ngIf="role === 1" mat-list-item routerLink="/user"
          >Felhasználók</a
        >
        <a mat-list-item class="logoutBtn" (click)="onLogout()"
          ><span class="logoutText">Kijelentkezés</span></a
        >
      </div>
      <ng-template #log>
        <a mat-list-item routerLink="/login">Autentikáció</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

<div *ngIf="loggingOut" class="backdrop" (click)="loggingOut = false"></div>
<div *ngIf="loggingOut" class="alert-box alert">
  <p>Biztosan kilép?</p>
  <div class="alert-box-actions">
    <button class="btn btn-danger" (click)="logout()">Igen</button>
    <button class="btn btn-primary" (click)="loggingOut = false">Nem</button>
  </div>
</div>
