<!-- <div class="list-group-item clearfix sor" (click)="onReszletek()">
  <div class="col-xs-6">
    <h4 class="list-group-item-heading" style="font-weight: bold">
      Gyártósor azonosító: {{ gyartosor.ln_id }}
    </h4>
    <p class="list-group-item-text">
      Gyártósor leírása: <br />{{ gyartosor.ln_desc | rovidit }}
    </p>
  </div>
  <div class="pull-right">
  </div>
</div> -->

<div class="container-fluid sor" (click)="onReszletek()">
  <div class="row">
    <div class="col-sm-4">
      <p>{{ gyartosor.ln_id }}</p>
    </div>
    <div class="col-sm-8">
      <p>{{ gyartosor.ln_desc | rovidit }}</p>
    </div>
  </div>
</div>
