<div class="list-group-item clearfix">
  <div class="col-xs-6">
    <h4 class="list-group-item-heading" style="font-weight: bold">
      Gyártósor azonosító: {{ gyartosor.ln_id }}
    </h4>
    <p class="list-group-item-text">
      Gyártósor leírása: <br />{{ gyartosor.ln_desc | rovidit }}
    </p>
  </div>
  <div class="pull-right">
    <!--     <button type="button" class="btn btn-warning" (click)="onModositas()">
      Módosítás
    </button> -->
    <button type="button" class="btn btn-primary" (click)="onReszletek(gyartosor.ln_desc)">
      Részletek
    </button>
  </div>
</div>
