<div class="row">
    <label for="gyartosor" style="font-size: large; padding-right: 5px">Gyártósor keresése</label>
    <input type="text" id="gyartosor" class="form-controll" [(ngModel)]="keresesLine" />
    <hr />
    <button *ngIf="!osszes" (click)="osszes=true" class="btn btn-primary">Összes mutatása</button>
    <button *ngIf="osszes" (click)="osszes=false" class="btn btn-primary">Összecsuk</button>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 sor">
          <p>Gyártósor azonosító</p>
        </div>
        <div class="col-sm-3 sor">
            <p>Tételről</p>
        </div>
        <div class="col-sm-3 sor">
            <p>Tételre</p>
        </div>
        <div class="col-sm-3 sor">
            <p>Idő</p>
        </div>
      </div>
    </div>
    <div *ngIf="!osszes">
      <app-ak *ngFor="
        let ak of akLista | filterPipe : keresesLine: 'chg_line' | slice:0:5; 
        let i = index
      
      " [ak]="ak"></app-ak>
    </div>
    <div *ngIf="osszes">
      <app-ak *ngFor="
        let ak of akLista | filterPipe : keresesLine: 'chg_line'  ;
        let i = index
      " [ak]="ak"></app-ak>
    </div>
  </div>