<!-- <div class="list-group-item clearfix">
  <div class="col-xs-12">
    <p class="list-group-item-text">Gyártósor azonosító: {{ sk.gys }}</p>
    <p class="list-group-item-text">Tétel:{{ sk.tetel }}</p>
    <p class="list-group-item-text">Gyártási sebesség:{{ sk.tetel }}</p>
  </div>
  <div class="pull-right">
        <button type="button" class="btn btn-warning">
        Módosítás
      </button>
    <button type="button" class="btn btn-primary">Részletek</button>
  </div>
</div> -->
<div class="container-fluid sor" (click)="onSzerkesztes()">
  <div class="row">
    <div class="col-sm-4">
      <p>{{ sk.lnd_line }}</p>
    </div>
    <div class="col-sm-4">
      <p>{{ sk.lnd_part }}</p>
    </div>
    <div class="col-sm-4">
      <p>{{ sk.lnd_rate }}</p>
    </div>
  </div>
</div>
