<!-- <div class="list-group-item clearfix">
  <div class="col-xs-12">
    <p class="list-group-item-text">Gyártósor azonosító: {{ sk.gys }}</p>
    <p class="list-group-item-text">Tétel:{{ sk.tetel }}</p>
    <p class="list-group-item-text">Gyártási sebesség:{{ sk.tetel }}</p>
  </div>
  <div class="pull-right">
        <button type="button" class="btn btn-warning">
        Módosítás
      </button>
    <button type="button" class="btn btn-primary">Részletek</button>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      {{ sk.gys }}
      <hr />
    </div>

    <div class="col-sm-4">
      {{ sk.tetel }}
      <hr />
    </div>

    <div class="col-sm-4">
      {{ sk.seb }}
      <hr />
    </div>
  </div>
</div>
