<!--
    wod_part: number;
    part_name: string;
    wod_par: number;
    par_name: string;
    wod_qty_req: number;
    wom_req: number;
    part_um: string;
    wod_qty_compl: number;
    wod_qty_rjct: number;
 -->
<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="wod_part">Tétetel szám</th>
    <th mat-sort-header="part_name">Tétetel név</th>
    <th mat-sort-header="wod_par">Szülő tétel</th>
    <th mat-sort-header="par_name">Szülő név</th>
    <th mat-sort-header="wod_qty_req">Szükséges menny. szül.</th>
    <th mat-sort-header="gy_req">Szükséges menny. gyrt.</th>
    <th mat-sort-header="part_um">Mértékegység</th>
    <th mat-sort-header="wod_qty_compl">Kész egység</th>
    <th mat-sort-header="wod_qty_rjct">Visszautasított egység</th>
  </tr>

  <tr *ngFor="let wod of viewData">
    <td>{{ wod.wod_part }}</td>
    <td>{{ wod.part_name }}</td>
    <td>{{ wod.wod_par }}</td>
    <td>{{ wod.par_name }}</td>
    <td>{{ wod.wod_qty_req }}</td>
    <td>{{ wod.gy_req }} * 10</td>
    <td>{{ wod.part_um }}</td>
    <td>{{ wod.wod_qty_compl }}</td>
    <td>{{ wod.wod_qty_rjct }}</td>
  </tr>
</table>
<mat-paginator
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="length"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
