<!-- <table class="table table-striped">
  <tr>
    <th>Gyártósor azonosító</th>
    <th>Tétel</th>
    <th>Gyártási sebesség (mennyiség/óra)</th>
  </tr>
</table>
<app-sk *ngFor="let sk of skLista; let i = index" [sk]="sk"></app-sk>
 -->
<div class="row">
  <label for="gyartosor" style="font-size: large; padding-right: 5px"
    >Gyártósor keresése</label
  >
  <input type="text" id="gyartosor" class="form-controll" />
  <label for="tetel" style="font-size: large; padding-right: 5px"
    >Tétel keresése</label
  >
  <input type="number" id="tetel" class="form-controll" />
  <hr />
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <p>Gyártósor azonosító</p>
      </div>
      <div class="col-sm-4"><p>Tétel</p></div>
      <div class="col-sm-4">
        <p>Mennyiség óránként</p>
      </div>
    </div>
  </div>
  <app-sk *ngFor="let sk of skLista; let i = index" [sk]="sk"></app-sk>
</div>
