<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center">Gyártási rendelés</h2>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xs-12">
          <app-wo-form></app-wo-form>
        </div>
      </div>
      <hr />
      <!-- GYR-hez tartozó adatok -->



      <div class="row">
        <div class="col-lg-12">
          <!-- <app-wod></app-wod> -->
          <!-- <app-data-table [headers]="wodHeaders" (sortEvent)="sortData($event)"></app-data-table> -->
          <router-outlet name="wod"></router-outlet>


        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12">
          <router-outlet name="lad"></router-outlet>

          <!-- <app-lad></app-lad> -->
        </div>
      </div>


    </div>
  </div>
</div>
