<app-alert
    [message]="error"
    *ngIf="error"
    (close)="onHandleError()"
  ></app-alert>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center">Termelési Ütemterv</h2>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Gyártósor:</span>
          <input
            style="z-index: auto"
            type="text"
            id="woLine"
            class="form-control"
            min="1"
            max="53"
            #line
          />
          <span class="input-group-addon">Hét:</span>
          <input
            style="z-index: auto"
            type="number"
            id="week"
            class="form-control"
            min="1"
            max="53"
            #week
          />
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-primary" (click)="search(line.value, +week.value)">Keresés</button>
    </div>
    <div class="col-xs-4">
      <button class="{{editing ? 'btn btn-danger': 'btn btn-primary'}}" type="button" (click)="cancel()">{{editing ? 'Mégse':'Szerkesztés'}}</button>
      
      <div class="input-group">
        <!-- <label for="woLot">Gyr szám:</label> -->
        <span class="input-group-addon">Kezdési idő</span>
        <!-- req -->
        <input
          style="z-index: auto"
          type="time"
          id="woLot"
          name="woLot"
          class="form-control"
          #start_time
        />

        <div class="input-group-btn">
          <button
          *ngIf="editing && utemezheto"
            class="btn btn-primary"
            type="button"
            style="z-index: auto"
            [disabled]="line.value === null && week.value  === null && start_time.value === null"
            (click)="utemez(line.value, +week.value, start_time.value)"
          >
            Ütemez
          </button>
        </div>
      </div>
    </div>

  </div>
  <hr />
  <!-- Xwo table -->
  <div class="table-responsive">
    <app-data-table [headers]="xwoHeaders"></app-data-table>
  </div>
</div>
