<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center">Gyártási Rendelés</h2>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Gyártósor:</span>
          <input
            style="z-index: auto"
            type="number"
            id="woLot"
            class="form-control"
            min="1"
            max="53"
          />
          <span class="input-group-addon">Hét:</span>
          <input
            style="z-index: auto"
            type="number"
            id="woLot"
            class="form-control"
            min="1"
            max="53"
          />
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-primary">Keresés</button>
    </div>
  </div>
  <hr />
  <!-- Xwo table -->
  <div class="table-responsive">
<!--     <table matSort class="table">
      <thead>
        <tr>
          <th mat-sort-header="wo_lot">GYR azon</th>
          <th mat-sort-header="wo_nbr">GYR szám</th>
          <th mat-sort-header="wo_part">GYR tételkód</th>

          <th mat-sort-header="pt_desc">Megnevezés</th>
          <th mat-sort-header="wo_qty_ord">Mennyiség</th>
          <th mat-sort-header="part_um">Mértékegység</th>
          <th mat-sort-header="wo_line">Gyártósor</th>
          <th mat-sort-header="ln_desc">Gyártósor megnevezés</th>

          <th mat-sort-header="item_per_hour">Óránkénti elkészülési egység</th>
          <th mat-sort-header="wo_est_run">Várható elkészülési idő</th>
          <th mat-sort-header="wo_seq">sorrend</th>
          <th mat-sort-header="wo_rel_date">Kibocsátási dátum</th>
          <th mat-sort-header="wo_start_date">Esedékesség dátum</th>

          <th mat-sort-header="wo_start_time">Kezdési idő</th>
          <th mat-sort-header="wo_end_time">Végzési idő</th>
          <th mat-sort-header="wo_pld_downtime">Tervezett állási idő</th>
          <th mat-sort-header="wo_unpld_downtime">Nem tervezett állási idő</th>
          <th mat-sort-header="wo_activated">élesítve</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wo of woData">
          <td>{{ wo.wo_lot }}</td>
          <td>{{ wo.wo_nbr }}</td>
          <td>{{ wo.wo_part }}</td>
          <td>{{ wo.pt_desc }}</td>
          <td>{{ wo.wo_qty_ord }}</td>
          <td>{{ wo.part_um }}</td>
          <td>{{ wo.wo_line }}</td>
          <td>{{ wo.ln_desc }}</td>
          <td>{{ wo.item_per_hour }}</td>
          <td>{{ wo.wo_est_run }}</td>
          <td>
            <input type="number" name="" id="" class="form-control">
          </td>
          <td>{{ wo.wo_rel_date }}</td>
          <td>{{ wo.wo_start_date }}</td>
          <td>
            <input type="number" name="" id="" class="form-control">
          </td>
          <td>{{ wo.wo_end_time }}</td>
          <td>{{ wo.wo_pld_downtime }}</td>
          <td>{{ wo.wo_unpld_downtime }}</td>
          <td>{{ wo.wo_activated }}</td>
           <td>
              <mat-form-field>
                <input matInput type="text" color="white" />
              </mat-form-field>
            </td> 
        </tr>
        <tr *ngFor="let wo of woData">
          <td>{{ wo.wo_lot }}</td>
          <td>{{ wo.wo_nbr }}</td>
          <td>{{ wo.wo_part }}</td>
          <td>{{ wo.pt_desc }}</td>
          <td>{{ wo.wo_qty_ord }}</td>
          <td>{{ wo.part_um }}</td>
          <td>{{ wo.wo_line }}</td>
          <td>{{ wo.ln_desc }}</td>
          <td>{{ wo.item_per_hour }}</td>
          <td>{{ wo.wo_est_run }}</td>
          <td><input type="number" name="" id="" class="form-control">
          <td>{{ wo.wo_rel_date }}</td>
          <td>{{ wo.wo_start_date }}</td>
          <td>{{ wo.wo_start_time }}</td>
          <td>{{ wo.wo_end_time }}</td>
          <td>{{ wo.wo_pld_downtime }}</td>
          <td>{{ wo.wo_unpld_downtime }}</td>
          <td>{{ wo.wo_activated }}</td>
           <td>
            <mat-form-field>
              <input matInput type="text" color="white" />
            </mat-form-field>
          </td> 
        </tr>
      </tbody>
    </table> -->
    <app-data-table [headers]="xwoHeaders"></app-data-table>
  </div>
</div>
