<div class="container">
    <h1>Átállási sebesség kezelés</h1>
    <div class="row">
      <!-- Új átállási sebesség/átállási sebesség módosítás -->
      <!-- inputok -->
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                Gyártósor azonosító*
                <input type="text" name="lineInput" [(ngModel)]="line" required="" maxlength="8"
                  [disabled]="!newChg && !edit" />
  
              </td>
              <td>
                Tételről*
                <input type="number" name="fromInput" [(ngModel)]="from" required=""
                  [disabled]="!newChg && !edit" />
              </td>
              <td>
                Tételre*
                <input type="number" name="toInput" required="" [(ngModel)]="to"
                  [disabled]="!newChg && !edit" />
              </td>
              <td>
                Idő*
                <input type="time" name="timeInput" required="" [(ngModel)]="time"
                  [disabled]="!newChg && !edit" />
              </td>
            </tr>
            <!-- gombok -->
            <tr>
              <td>
                <p style="color: red;" *ngIf="!f.valid && (newChg || edit)">Az összes mező kötelező!</p>
                <p style="color: red;" *ngIf="!validForm ">
                  Már van ilyen átállás!</p>
                  <!-- Új chg -->
                <div *ngIf="!newChg && !edit">
                  <button class="btn btn-primary" (click)="newChg = true">
                    Új átállási sebesség
                  </button>
                </div>
                <div *ngIf="newChg && !edit">
                  <button type="submit" class="btn btn-success" [disabled]="!f.valid">Hozzáad</button>
                  <button type="button" class="btn btn-warning" (click)="clearForm(f)">
                    Mégse
                  </button>
                </div>
                <!-- Chg módosítás -->
                <div *ngIf="!newChg && edit">
                  <button type="submit" class="btn btn-success" [disabled]="!f.dirty">Módosít</button>
                  <button type="button" class="btn btn-warning" (click)="clearForm(f)">Mégse</button>
                  <button type="button" class="btn btn-danger" (click)="deleteChg = true">Töröl</button>
                </div>
                <!-- Chg törlés -->
                <div *ngIf="deleteChg">
                  <h2>Biztosan törli?</h2>
                  <button type="submit" class="btn btn-danger">Törlés</button>
                  <button type="button" class="btn btn-warning" (click)="deleteChg = false">Mégse</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  
    <div class="row">
      <hr />
      <div class="col-md-12">
        <app-data-table [headers]="chgHeaders"></app-data-table>
      </div>
    </div>
  </div>