<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="text-align: center">Tételek</h2>
    </div>
  </div>
  <hr />
  <div class="row">
    <form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="row">
              <div class="form-group">
                <div class="col-sm-12">
                  <div class="input-group">
                    <span class="input-group-addon">Tételkód:</span>
                    <input
                      style="z-index: auto"
                      type="number"
                      id="pt_part"
                      name="pt_part"
                      class="form-control"
                      formControlName="pt_part"
                    />
                  </div>
                  <p *ngIf="!partFound && searchMode">
                    Nem található ilyen azonosítójú tétel!
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8">
            <div class="form-group">
              <button
                class="btn btn-primary"
                type="button"
                style="z-index: auto"
                *ngIf="searchMode"
                (click)="onSearchPart()"
              >
                <i class="glyphicon glyphicon-search"></i>
              </button>

              <button
                *ngIf="newMode"
                class="btn btn-success"
                type="submit"
                style="z-index: auto"
                [disabled]="!myGroup.valid"
              >
                Mentés
              </button>
              <button
                class="btn btn-success"
                type="button"
                (click)="onNewMode()"
                *ngIf="searchMode"
              >
                Új
              </button>
              <button
                class="btn btn-danger"
                (click)="onDelete()"
                type="button"
                *ngIf="editMode"
              >
                Törlés
              </button>
              <button
                class="btn btn-success"
                type="submit"
                [disabled]="!myGroup.valid"
                *ngIf="editMode"
              >
                Módosítások mentése
              </button>
              <button
                class="btn btn-primary"
                type="button"
                (click)="clearForm()"
                e
                e
                *ngIf="newMode || editMode"
              >
                Mégse
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- "hiba" üzenetek -->
        <div class="row">
          <!-- pt-re vonatkozo inputok -->
          <div class="form-group">
            <div class="col-md-4">
              <label for="name">Leírás:</label>
              <input
                type="text"
                id="pt_desc"
                name="pt_desc"
                class="form-control"
                maxlength="24"
                formControlName="pt_desc"
              />
            </div>
            <div class="col-md-4">
              <label for="birth_date">Mértékegység:</label>
              <input
                type="text"
                id="pt_um"
                name="pt_um"
                maxlength="10"
                class="form-control"
                formControlName="pt_um"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr />
    <!-- pt headerek -->
    <div class="row">
      <div class="col-lg-12">
        <app-data-table [headers]="partHeaders"></app-data-table>
      </div>
    </div>
  </div>
</div>
