<div class="backdrop"></div>
<div class="alert-box">
  <h3>Hiba</h3>
  <p>{{ errorMessage }}</p>

  <div class="row">
    <div class="col-md-3">
      <form [formGroup]="form" (ngSubmit)="onSave()">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Új jelszó:</span>
            <input
              id="pw"
              name="pw"
              formControlName="pw"
              type="password"
              class="form-control"
              style="width: fit-content"
              (change)="clog()"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" for="confirmPw"
              >Új jelszó megerősítése:</span
            >
            <input
              id="confirmPw"
              name="confirmPw"
              formControlName="confirmPw"
              type="password"
              class="form-control"
              style="width: fit-content"
              (change)="clog()"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="alert-box-actions">
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="!form.valid"
                (change)="clog()"
              >
                Mentés
              </button>
              <button class="btn btn-primary" type="button" (click)="onClose()">
                Mégse
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
